body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 55px 0;
}

/* header */

.header__top {
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #D6D6D6;
}

.header__top-inner {
    max-width: 1369px;
    height: 85px;
    margin: 0 auto;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
}

.header__logo {
    margin-right: 10px;
}

.header__nav-menu {
    color: #292929;
}

.header__nav-item {
    display: inline;
    margin-right: 68px;
}

.header__nav-item a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-item a:hover,
.header__sign a:hover {
    border-bottom: 1px solid #01996D;
    transition: .2s linear;
}

.header__top-end {
    display: flex;
    align-items: center;
}

.header__sign {
    margin-right: 33px;
    color: #000000;
}

.header__sign a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.header__top-btn {
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    padding: 13px 50px;
    color: #FFFFFF;
    cursor: pointer;
}

.header__top-btn a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.header__top-btn:hover {
    background: #ffffff;
    color:  #01996D;
    transition: .2s linear;
}

.header__content-wrapper {
    width: 100%;
    height: 890px;
    background: url(/images/header/headerBG.png) center no-repeat;
    background-size: cover;
}

.header__content {
    width: 1369px;
    margin: 0 auto;
}

.header__inner {
    padding-top: 165px;
    max-width: 440px;
    height: 384px;
}

.header__content-title {
    margin: 0;
    font-weight: bold;
    font-size: 65px;
    line-height: 1.1;
    color: #01996D;
}

.header__content-text {
    width: 416px;
    padding-top: 22px;
    font-size: 20px;
    line-height: 1.4;
    color: #484848;
    margin-bottom: 70px;
}

.btn {
    display: inline;
    padding: 20px 50px;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.btn:hover {
    background: 0;
    color:  #01996D;
    transition: .2s linear;
}

/* works */

.works {
    width: 100%;
    height: 1450px;
}

.works__wrapper {
    padding-top: 145px;
    max-width: 1422px;
    height: 1386px;
    margin: 0 auto;
}

.works__header {
    display: flex;
    justify-content: space-between;
}

.works__title {
    font-size: 24px;
    line-height: 1.4;
    color: #424242;
}

.works__subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.4;
    color: #01996D;
    max-width: 580px;
}

.works__text {
    padding-top: 55px;
    max-width: 670px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #424242;
}

.works__content {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    position: relative;
}  

.works__item-number {
    position: absolute;
}

.works__item-subtitle {
    position: relative;
    top: 55px;
    left: 75px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.3;
    color: #000000;
    margin: 0;
}

.works__item-subtitle-3 {
    position: relative;
    top: 55px;
    left: 110px;
}

.works__item {
    width: 33.3333%;
    max-width: 390px;
}

.works__item-text {
    padding-top: 70px;
    font-style: normal;
    font-size: 20px;
    line-height: 1.3;
    color: #424242;
    margin-bottom: 50px;
}

.works-item2 {
    position: relative;
    top: 210px;
    left: 0;
}

.works-item3 {
    position: relative;
    top: 60px;
    left: 0;
}

/* Story */

.story {
    width: 100%;
    height: 850px;
    background-color: #245852;
}

.story__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1506px;
    height: 516px;
}

.story__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 220px;
}

.story__content {
    padding-top: 70px;
    color: #FFFFFF;
}

.story__title {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.5;
}

.story__text {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 25px;
    line-height: 1.5;
}

.story__btn {
    display: inline;
    padding: 20px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-size: 20px;
    line-height: 1.1;
    cursor: pointer;
}

.story__btn a {
    text-decoration: none;
    color: inherit;
}

.story__btn:hover {
    background: 0;
    border: 1px solid #FFFFFF;
    color:  #ffffff;
    transition: .2s linear;
}

/* product */

.product {
    width: 100%;
    height: 850px;
}

.product__wrapper {
    padding-top: 105px;
    margin: 0 auto;
    width: 1370px;
    height: 648px;
}

.product__inner {
    display: flex;
    justify-content: space-between;
}

.product__img {
    position: absolute;
}

.product__card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 360px;
    right: 70px;
    z-index: 2;
    width: 296px;
    height: 293px;
    background: #FFFFFF;
    border: 1.5px solid #E5E5E5;
    border-radius: 3.7px;
    color: #000000;
}

.card__info-title {
    padding-top: 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    padding-bottom: 12px;
    border-bottom: 1px solid #000000;
}

.product__card-photo {
    padding-top: 12px;
    margin-bottom: 12px;
}

.product__card-name {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
}

.product__card-title {
    margin-left: -18px;
    margin-bottom: 18px;
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}

.product__card-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.product__content {
    max-width: 581px;
    height: 560px;
}

.product__content-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
    color: #424242;
}

.product__content-title {
    margin: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 1.5;
    color: #01996D;
}

.product__content-text {
    padding-top: 40px;
    padding-bottom: 60px;
    max-width: 530px;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    color: #484848;
}

/* footer */

.footer {
    width: 100%;
    height: 600px;
    background: #245852;
}

.footer__wrapper {
    padding-top: 80px;
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
}

.footer__nav-item {
    padding-top: 65px;
    list-style: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    color: #FFFFFF;
    transition: .2s linear;
}

.footer__nav-item a {
    text-decoration: none;
    color: inherit;
}

.footer__nav-item a:hover {
    border-bottom: 1px solid #ffffff;
}